[Unit]
Description=Galaxy server
Documentation=https://docs.galaxyproject.org/en/master/admin/production.html https://github.com/bioexcel/ansible-cwl/
After=network-online.target
Wants=network-online.target docker

[Service]
Type=forking
User=galaxy
ExecStart=/app/galaxy/run.sh start
ExecReload=/app/galaxy/run.sh restart
ExecStop=/app/galaxy/run.sh stop
PIDFile=/app/galaxy/galaxy.pid
TimeoutSec=900

[Install]
WantedBy=multi-user.target
